.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #6c757d;
    background-color: #ffeaa8;
}

.nav-link:hover {
    color: #6c757d;
    background-color: #d4d6d7;
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 11.2em;
}


/*.stretch-card > .card {
    width: 100%;
    min-width: 100%
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.card-sub {
    cursor: move;
    border: none;
    -webkit-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05)
}

.card-img-top {
    width: 100%;
    height: 180px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}

.card-block {
    padding: 1.25rem;
    background-color: #fff !important
}*/