<div class="modal" id="ModalTask">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="form" asp-antiforgery="true"  asp-controller="Home" asp-action="Create" method="post">
                <div class="modal-header">
                    <select name="stateid" class="form-select w-25" >
                        <option value="1">To do</option>
                        <option value="2">In Progress</option>
                        <option value="3">Done</option>
                    </select>
                    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input name="Title" type="text" class="form-control" id="floatingInput" placeholder="Enter title">
                        <label for="floatingInput">Enter title</label>
                    </div>
                    <div class="form-floating">
                        <textarea name="Describe" class="form-control" placeholder="Describe your task" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Describe your task</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="add" value="Add" class="btn btn-outline-success" data-bs-dismiss="modal">
                </div>
            </form>
        </div>
    </div>
</div>